.sidebar-brand-text {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.sidebar-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.sidebar-logo {
    width: 128px;
    height: 128px;
    object-fit: contain;
}

.content h1 {
    font-size: 2rem;
}

.content h2 {
    font-size: 1.5rem;
}

.content h3 {
    font-size: 1.25rem;
}
